@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
        #f788af 0.89%,
        #f05188 17.23%,
        #f13e7d 42.04%,
        #f33376 55.12%,
        #f11d68 71.54%,
        #F31260 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .title {
    @apply font-bold text-2xl sm:text-3xl text-center
  }

  .child {
    opacity: 0;
    transform: translateY(50px);
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s ease, transform 0.5s ease;
  }

  .section {
    @apply scroll-mt-28 space-y-10 sm:space-y-20 items-center text-center
  }
}