@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #ffc7fc 0.89%,
      #ff9df5 17.23%,
      #fc81f1 42.04%,
      #ff6ceb 55.12%,
      #e256c8 71.54%,
      #ff00d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.left-light {
  background-image: radial-gradient(closest-side, rgba(88, 16, 124, 0.3), #000);
}

.right-light {
  background-image: radial-gradient(closest-side, rgba(26, 15, 122, 0.3), #000);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}